// colors

    // first color scheme

$white: #fff;

    // second color scheme

$black: #000;
$sable: #060606;
$charcoal: #2e1503;

    // third color scheme

$tangerine: #ffaf6d;
$orange: #ffa500;


// typography

    // fonts

$ubuntu: 'Ubuntu', sans-serif;
$poppins:'Poppins', sans-serif;

    // typefaces

$regular: 400;
$bold: 700;

    // font size

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
